textarea{
    background-color: rgba(61, 61, 61, 0.708);
    color: white;
    border-radius: 5px;
    border: 1px solid #6e6e6e;
    outline: none;
    padding: 10px;
    overflow: hidden;
    resize: none;
}